@use "../../partials/mixins" as *;
.project {
  @include card;
  @include flex(column, flex-start, flex-start);
  width: 35rem;
  &__title-wrapper {
    @include flex(row, flex-start, flex-end);
    margin-bottom: 0.7rem;
  }
  &__img {
    height: 1.6rem;
    margin-right: 0.8rem;
  }
  &__description {
    font-family: secondary-font;
    margin-bottom: 0.7rem;
  }
}
