@use "../../partials/breakpoints" as *;

.title {
  padding: 1rem;

  &__title {
    font-size: 4rem;

    &--dark {
      color: white;
    }

    @include mobile {
      font-size: 3.5rem;
    }
  }
}
