@use "../../partials/mixins" as *;
.links {
  @include card;
  width: 20rem;
  height: 10rem;
  @include flex(row, space-around);
  &__logo {
    height: 7rem;
    transition: all 100ms ease-in;
    &:hover {
      height: 7.5rem;
    }
  }
}
