@use "../../partials/mixins" as *;

.contact {
  @include card;
  width: 20rem;

  &--dark {
    @include card-dark;
  }

  &__title {
    &--dark {
      color: white;
    }
  }
}

.form {
  @include flex(column, flex-start, flex-start);
  width: 100%;
  &__label {
    font-family: secondary-font;
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
    font-size: 1.1rem;

    &--dark {
      color: white;
    }
  }

  &__input {
    width: 100%;
    padding: 0.3rem;
    font-family: secondary-font;
    font-size: 1.1rem;
    border: 2px solid rgb(248, 234, 234);

    &::placeholder {
      font-family: secondary-font;
    }
    &:focus {
      outline: none;
      border: 2px solid black;
    }
    &--dark {
      background-color: black;
      border-color: rgb(52, 51, 51);
      color: white;
      &:focus {
        border: 2px solid white;
      }

      &::placeholder {
        color: rgb(123, 120, 120);
      }
    }
  }

  &__textarea {
    @extend .form__input;
    height: 10rem;
    resize: none;

    &--dark {
      @extend .form__input--dark;
    }
  }
  &__error {
    width: 70%;
    font-size: 0.7rem;
    color: rgb(200, 13, 13);
  }

  &__count-wrapper {
    position: relative;
    @include flex(row, space-between);
    width: 100%;
    height: 1rem;
  }

  &__count {
    position: absolute;
    align-self: flex-end;
    font-size: 0.7rem;
    right: 0;
  }

  &__btn {
    background-color: black;
    padding: 0.3rem 1rem;
    color: white;
    margin-top: 1rem;
    font-weight: 700;
    font-size: 1rem;

    &--dark {
      background-color: white;
      color: black;
    }

    &--success {
      background-color: rgb(3, 175, 3);
    }
  }
}
