@use "../../partials/mixins" as *;

.nav {
  @include flex(column, space-between, flex-end);
  position: absolute;
  bottom: 40%;
  right: 0;
  z-index: 100;
  &__btn {
    color: rgb(243, 31, 31);
    font-weight: 700;
    margin-right: 1rem;
    font-size: 3rem;
    transition: all 100ms ease-in;
    padding: 0 1rem;
    &:hover {
      font-size: 4rem;
      color: yellow;
      background-color: black;
    }
  }
}
