@mixin flex(
  $flex-direction: row,
  $justify-content: center,
  $align-items: center
) {
  display: flex;
  flex-direction: $flex-direction;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin card {
  padding: 1rem;
  background-color: white;
  border: 6px solid rgb(0, 0, 0);
}
