@use "./typography";
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: primary-font;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
