@use "../../partials/mixins" as *;
.intro {
  @include flex(row, flex-start, flex-start);
  @include card;
  &--dark {
    @include card-dark;
  }

  &__title {
    margin-bottom: 0.5rem;
    &--dark {
      color: white;
    }
  }

  &__img {
    width: 7rem;
    margin-right: 1rem;
  }

  &__description {
    font-family: secondary-font;
    &--dark {
      color: white;
    }
  }
}
